# shellcheck shell=sh

# さくらのクラウドオブジェクトストレージの ictsc-tfstate バケットの R/W 権限を持つシークレット
export AWS_ACCESS_KEY_ID=
export AWS_SECRET_ACCESS_KEY=
# さくらのクラウドのシークレット
export SAKURACLOUD_ACCESS_TOKEN=
export SAKURACLOUD_ACCESS_TOKEN_SECRET=
