[Unit]
Description=Upload k0s backups to object storage
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
User=root
ExecStart=/usr/local/bin/k0s-backup.sh
RuntimeDirectory=k0s-backup
LoadCredentialEncrypted=k0s-backup-credentials
Environment=HOME=/root
Environment=AWS_SHARED_CREDENTIALS_FILE=%d/k0s-backup-credentials
Environment=BUCKET={{ backup_k0s_sakuracloud_s3_bucket }}
Environment=ENV={{ backup_k0s_environment }}

[Install]
WantedBy=multi-user.target
