apiVersion: v1
kind: Secret
metadata:
  name: csi-secrets-store-sakuracloud-provider-credentials
  namespace: kube-system
  labels:
    app.kubernetes.io/instance: csi-secrets-store
    app.kubernetes.io/name: sakuracloud-provider
    app: sakuracloud-provider
type: Opaque
stringData:
  config.json: |
    {
      "AccessToken": "{{ k0s_sakuracloud_access_token }}",
      "AccessTokenSecret": "{{ k0s_sakuracloud_access_token_secret }}"
    }
