# Managed by Ansible
# systemd swap unit for {{ setup_swap_file_path }}

[Unit]
Description=Swap file
Documentation=man:systemd.swap(5)

[Swap]
What={{ setup_swap_file_path }}
Priority=100

[Install]
WantedBy=swap.target
