# Managed by Ansible
# systemd swap unit for {{ swap_file_path }}

[Unit]
Description=Swap file
Documentation=man:systemd.swap(5)

[Swap]
What={{ swap_file_path }}
Priority=100

[Install]
WantedBy=swap.target
