global
	dns-accept-family ipv6

defaults REDIS
	mode tcp
	timeout connect 4s
	timeout server 330s
	timeout client 330s
	timeout check 2s

listen health_check
	bind [::]:8888 v4v6
	mode http
	monitor-uri /healthz
	option dontlognull

frontend stats
	bind [::]:9101 v4v6
	mode http
	stats enable
	stats uri /stats
	stats refresh 10s

resolvers kube_dns
	parse-resolv-conf

	hold valid 10s

	resolve_retries 3
	timeout retry 1s
	timeout resolve 1s

frontend fe_valkey_leader
	bind [::]:6379 v4v6
	use_backend bk_valkey_leader

backend bk_valkey_leader
	mode tcp
	option tcp-check
	tcp-check connect
	tcp-check send PING\r\n
	tcp-check expect string +PONG
	tcp-check send info\ replication\r\n
	tcp-check expect string role:master
	tcp-check expect rstring connected_slaves:[1-9]
	tcp-check send QUIT\r\n
	server-template valkey 5 _valkey._tcp.valkey.scoreserver.svc.cluster.local resolvers kube_dns check inter 1s fall 1 rise 1
